* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color:  aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
}

#page3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 126, 152), rgb(190, 11, 47));
}


